<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Data Entry</h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                New Category and New Supplier
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <form>
                    <!-- <div class="row"> -->
                    <input type="text" class="form-control" aria-label="..." placeholder="Category Name"
                        ng-model='catName'>
                    <button type="button" ng-click="addCateogry()" class="btn btn-sm btn-success"
                        style="margin-top: 3px;">Add Category</button>
                    <!-- </div> -->
                    </br>
                    </br>
                    <!-- <div class="row"> -->
                    <input type="text" class="form-control" aria-label="..." placeholder="Supplier Name"
                        ng-model='supName'>
                    <button type="button" ng-click="addSupp()" class="btn btn-sm btn-success"
                        style="margin-top: 3px;">Add Supplier</button>
                    <!-- </di   v> -->
                </form>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-md-6" style="padding-left: 23px;">
        <button type="button" ng-click="newEntry()" class="btn btn-lg btn-success">New Entry</button>
        <button type="button" ng-click="OldEntry()" class="btn btn-lg btn-success">Old Entry</button>
    </div>
    <div><button type="button" ng-click="go()" >Inventory</button></div>
    <div class="col-md-offset-10">
            <button type="button" ng-click="deleteshow()" class="btn btn-lg btn-danger">Delete Entry</button>

    </div>
</div>
<br />
<br />
<div class="row" ng-show="oldEntry">
    <div class="col-lg-12" ng-show="oldEntry">
        <div class="panel panel-default">
            <div class="panel-heading">
                Update Data Entry
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <button style="float: left;" ng-click="Reload()"
                        class="btn btn-sm btn-info col-md-2  ">Refresh</button>
                    <br />
                    <center><em>Note: Please Refresh When you add new Category or Supplier.</em></center>
                    <br />
                </div>
                <br />
                <strong>Enter Barcode:</strong><input type="text" ng-model="barcodeCheck" class="form-control"
                    aria-label="..." ng-keypress="checkStock($event)">


                <div class='row'>
                    <hr />
                    <br />

                    <table class="table table-bordered table-hover table-striped " ng-show="stockShow">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Category</th>
                                <th>Wholesale Price</th>
                                <th>Retail Price</th>
                                <th>Total Price</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-model='sale'>
                                <td>{{sale.itemName}}</td>
                                <td>{{sale.itemDesc}}</td>
                                <td>{{sale.itemQty}}</td>
                                <td>{{sale.itemCategory}}</td>
                                <td>Rs {{sale.itemWholesale}}</td>
                                <td>Rs {{sale.itemRetail}}</td>
                                <td ng-model="totalLeft">Rs {{totalLeft}}</td>


                            </tr>

                        </tbody>
                    </table>


                </div>
                <input ng-show="stockShow" type="number" class="form-control" aria-label="..." min="1"
                    placeholder="Add Quantity in Stock" ng-model='myQty'>
                <br />
                <button type="button" ng-click="generateOld()" ng-show="stockShow"
                    class="btn btn-lg btn-success">Generate Barcode</button>

                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
<!-- /.col-lg-12 -->
<div class="row" ng-show="NewEntry">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                New Data Entry
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <button ng-click="Reload()" class="btn btn-sm btn-info col-md-2  ">Refresh</button>
                    <br />
                    <center><em>Note: Please Refresh When you add new Category or Supplier.</em></center>
                    </br>
                </div>
                <br />

                <div class="form-group">
                    <form>

                        <input type="text" class="form-control" aria-label="..." placeholder="Item Name"
                            ng-model='itemName'>
                        </br>
                        <textarea class="form-control" aria-label="..." placeholder="Item Description"
                            ng-model='itemDesc'></textarea>
                        </br>
                        <input type="number" class="form-control" aria-label="..." min="1" placeholder="Qty"
                            ng-model='itemQty'>
                        </br>
                        Choose Category<select class="form-control" ng-model="selectedCategories.categoryId"
                            ng-options="category.categoryId as category.name for category in chooseCategories"></select>
                        Choose Supplier <select class="form-control" ng-model="selectedSupplier.categoryId"
                            ng-options="category.categoryId as category.name for category in chooseSupplier"></select>
                        </br>
                        <input type="number" class="form-control" aria-label="..." min="1" placeholder="WholeSale Price"
                            ng-model='itemWholesale'>
                        </br>
                        <input type="text" class="form-control" aria-label="..." min="1" placeholder="Available Sizes"
                            ng-model='type'>
                        </br>
                        <input type="number" class="form-control" aria-label="..." min="1" placeholder="This Size"
                            ng-model='size'>
                        </br>
                        <input type="text" class="form-control" aria-label="..." min="1" placeholder="Supplier Code"
                            ng-model='code'>
                        </br>

                        <input type="number" class="form-control" aria-label="..." min="1" placeholder="Retail Price"
                            ng-model='itemRetail'>
                        </br>
                        <!-- <input type="number" class="form-control" aria-label="..." min="1" placeholder="Max Discount on item"
                            ng-model='itemDiscount'>
                        </br> -->
                        <!-- Add item Discount to customer-->
                        <button type="button"
                            ng-click="generateBarcode(selectedCategories.categoryId,selectedSupplier.categoryId)"
                            class="btn btn-lg btn-success">Generate Barcode</button>

                    </form>
                </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row" ng-show="deletepage">
    <div class="col-lg-12" ng-show="deletepage">
        <div class="panel panel-default">
            <div class="panel-heading">
                Delete Data Entry
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <button style="float: left;" ng-click="Reload()"
                        class="btn btn-sm btn-info col-md-2  ">Refresh</button>
                        <br>
                </div>
                <br />
                <strong>Enter Barcode:</strong><input type="text" ng-model="barcodeCheck" class="form-control"
                    aria-label="..." ng-keypress="checkStock($event)">


                <div class='row'>
                    <hr />
                    <br />

                    <table class="table table-bordered table-hover table-striped " ng-show="stockShow">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Category</th>
                                <th>Wholesale Price</th>
                                <th>Retail Price</th>
                                <th>Total Price</th>
                                <td>Delete</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-model='sale'>
                                <td>{{sale.itemName}}</td>
                                <td>{{sale.itemDesc}}</td>
                                <td>{{sale.itemQty}}</td>
                                <td>{{sale.itemCategory}}</td>
                                <td>Rs {{sale.itemWholesale}}</td>
                                <td>Rs {{sale.itemRetail}}</td>
                                <td ng-model="totalLeft">Rs {{totalLeft}}</td>
                                <td><button type="button" class="btn btn-sm btn-danger" ng-click="deleteProduct(sale)">Delete</td>



                            </tr>

                        </tbody>
                    </table>


                </div>
                <input ng-show="stockShow" type="number" class="form-control" aria-label="..." min="1"
                    placeholder="Delete Quantity from Stock" ng-model='delQty'>
                <br />
                <button type="button" ng-click="deleteItems()" ng-show="stockShow"
                    class="btn btn-lg btn-danger">Delete Items</button>

                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    
</div>

<!-- /.row -->
<div id="barcode-print" style="display: none;" > <!--font-weight:900;-->
    <div style="text-align:center; width:100%;padding-bottom:10px;">
        <span style="font-size:150px; border-bottom:black solid 2px">Dress Up</span>
    </div>
    <div style="width:100%">
        <div style="margin-left:50px;line-height:120px; width:30%; float:left;font-weight:bold">
            <!-- <span>24-38 </span> -->
            <span> {{PitemBar.type }} </span> 
            <!-- <span style="font-size:100px;"> : 30 </span> -->
            <span style="font-size:100px;"> : {{PitemBar.size}} </span>
            <!-- <div style="font-size:80px;"> A.B.G-1230 </div> -->
            <div style="font-size:80px;"> {{PitemBar.code}} </div>
            <!-- <div> OBE </div> -->
            <div> {{PitemBar.convert}} </div>
        </div>
        <div style="text-align:center; width:100%">
            <svg id="barcode" style="letter-spacing: 20px;"></svg>
        </div>
    </div>
    <div style=" width:100%; text-align:center" >
        <div style="font-weight:600;font-size:100px;">
            <!-- <span>BABA PANT </span> -->
            <span>{{PitemBar.name}} </span>
            <!-- <span style="padding-left: 260px; font-weight:bold"> RS: 1175 </span> -->
            <span style="padding-left: 260px; font-weight:bold"> Rs: {{PitemBar.itemRetail }} </span>
        </div>
    </div>
</div>

