<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User Guide</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.panel-heading -->
<div class="panel-body">


    <div class='row'>
        <h2>Point Of Sale Page:</h2>
        <ol>
            <li>Scan your item barcode in your 'barcode' column, make sure that your input cursor is focused on the text
                field.</li>
            <li>You will see your Item Name, Description , Wholesale Price and Retail Price in that row.</li>
            <li>Add discount amount in discount text field located in extreme right corner. Make sure that you have
                scanned your item first.</li>
            <li>You have to insert Cash Total amount of Cash Received in Cash Received text field</li>
            <li>You will see the exchange amount or total amount in Sale box</li>
            <li>You can then checkout and print the sale receipt</li>
            <li>You can refresh by clicking refresh button in case of any error</li>
            <li>If you have internet On, so you can sync your whole database online and access it with your website</li>
            <li>Every receipt will have unique id</li>




        </ol>

    </div>
    <div class='row'>
        <h2>Last Sold Item Page:</h2>
        <ol>
            <li>You will see the list of last sold items.</li>
            <li>You can filter your result by entering your receipt id, date, price etc in Filter text field</li>
            <li>You can delete that transaction by clicking delete button located with every row in the left column in
                case of return of any item, so that it will delete the sale permanently and then you can generate new
                sale from Pos sale page</li>
            <li>You have to insert Cash Total amount of Cash Received in Cash Received text field</li>
            <li>You will see the exchange amount or total amount in Sale box</li>
            <li>You can then checkout and print the sale receipt</li>
            <li>You can refresh by clicking refresh button in case of any error</li>
            <li>If you have internet On, so you can sync your whole database online and access it with your website</li>




        </ol>
        <div class='row'>
            <h2>Invetory Page:</h2>
            <ol>
                <li>You will see the list of all product.</li>
                <li>You can filter your result by supplier, categoey</li>
                <li>You can search item by supplier code and barcode of the product</li>
                <li>You can edit any entity of the product their by type the new entity for the product and click update
                    blue button</li>
                <li>You can also delete the product by click on the red button</li>
                <li>The Qty in stock will it will not add but change your product to what you enter</li>
            </ol>

        </div>
        <div class='row'>
            <h2>Generate Bill:</h2>
            <ol>
                <li>You will see the list of all product.</li>
                <li>You can filter your result by supplier, categoey</li>
                <li>You can search item by supplier code and barcode of the product</li>
                <li>You then have to click generate barcode button, in order to generate your item barcode</li>
                <ol>
                    <li>Press this button will open a window ask you how many barcode you wanna print</li>
                    <li>press print again and barcode will print</li>
                    <li>Select your barcode printer </li>
                    <li>And set scale to 10</li>
                </ol>
                <li>You can add Quantity to existece product Or add New Product</li>
                <ol>
                    <li>Select supplier from choose supplier</li>
                    <li>Enter Quantity of the product and press enter </li>
                    <li>You can see Total Balance </li>
                    <li>Enter Bill No, Debit amount, Credit amount press geenrate button</li>
                </ol>
            </ol>

        </div>
        <div class='row'>
            <h2>Check Stock Page:</h2>
            <ol>
                <li>You can scan your item barcode or enter item barcode manualy, to see your item detail</li>
            </ol>

        </div>
        <div class='row'>
            <h2>Report's Page:</h2>
            <ol>
                <li>You have to generate daily sale report every day when you end your sale , and click print button to
                    print that report</li>
                <li>You can generate Monthly report by selecting your month and then click generate report button to
                    generate and print monthly report by clicking print button</li>

            </ol>

        </div>

    </div>