  

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">User Guide</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">


                            <div class='row'>
                                <h2>Point Of Sale Page:</h2>
                                <ol>
                                    <li>Scan your item barcode in your 'barcode' column, make sure that your input cursor is focused on the text field.</li>
                                    <li>You will see your Item Name, Description , Wholesale Price and Retail Price in that row.</li>
                                    <li>Add discount amount in discount text field located in extreme right corner. Make sure that you have scanned your item first.</li>
                                    <li>You have to insert Cash Total amount of Cash Received in Cash Received text field</li>
                                    <li>You will see the exchange amount or total amount in Sale box</li>
                                    <li>You can then checkout and print the sale receipt</li>
                                    <li>You can refresh by clicking refresh button in case of any error</li>
                                    <li>If you have internet On, so you can sync  your whole database online and access it with your website</li>
                                    <li>Every receipt will have unique id</li>




                                </ol>
                              
                                </div>  
                                 <div class='row'>
                                <h2>Last Sold Item Page:</h2>
                                <ol>
                                    <li>You will see the list of last sold items.</li>
                                    <li>You can filter your result by entering your receipt id, date, price etc in Filter text field</li>
                                    <li>You can delete that transaction by clicking delete button located with every row in the left column in case of return of any item, so that it will delete the sale permanently and then you can generate new sale from Pos sale page</li>
                                    <li>You have to insert Cash Total amount of Cash Received in Cash Received text field</li>
                                    <li>You will see the exchange amount or total amount in Sale box</li>
                                    <li>You can then checkout and print the sale receipt</li>
                                    <li>You can refresh by clicking refresh button in case of any error</li>
                                    <li>If you have internet On, so you can sync  your whole database online and access it with your website</li>




                                </ol>
                              
                                </div>    
                                    <div class='row'>
                                <h2>Data Entry Page:</h2>
                                <ol>
                                    <li>It is recommended for you to add your categories first.</li>
                                    <li>You can add your category by entering your desired category name in New Category field and click add category button</li>
                                    <li>You can then fill the form of new data entry by filling it with your desired item</li>
                                    <li>You then have to click generate barcode button, in order to generate your item barcode</li>
                                    <li>You have to click Print button to print that barcode</li>
                                    <li>Select your barcode printer , and enter the quantites of barcode you want to print.</li>
                        




                                </ol>
                              
                                </div>   
                                      <div class='row'>
                                <h2>Check Stock Page:</h2>
                                <ol>
                                    <li>You can scan your item barcode or enter item barcode manualy, to see your item detail</li>                  




                                </ol>
                              
                                </div>  
                                   <div class='row'>
                                <h2>Report's Page:</h2>
                                <ol>
                                        <li>You have to generate daily sale report every day when you end your sale , and click print button to print that report</li>
                                        <li>You can generate Monthly report by selecting your month and then click generate report button to generate and print monthly report by clicking print button</li>

                                </ol>
                              
                                </div>  
   
                                    </div>
                              