<div class="row">
    <div class="col-lg-10">
        <h1> Monthly Sale's Report</h1>
    </div>
    
    <!-- /.col-lg-12 -->
</div>
<hr>
<!-- /.panel-heading -->
<div class="panel-body">


    <div class='row'>
        <select class="form-control" ng-model="selectedCategories.categoryId"
            ng-options="category.categoryId as category.name for category in chooseCategories"></select>
        <br />
        <br />
        <button type="button" ng-click="generateReport(selectedCategories.categoryId)"
            class="btn btn-lg btn-success from-control">Generate Report</button>
    </div>
    <div class='row' ng-show="whenTable">

        <div print-section>
            <center><img src="/img/img1.png" alt="DressUP" style="width:25%"></center>
            <center>
                <div style="margin:0">
                    <p style="margin:0"><strong>MUSTAFA HAKIMUDDIN</strong></p>
                    <p style="margin:0"><strong>Phone: +923452652950</strong></p>
                    <p style="margin:0"><strong>6.N.R.Avenue (Tapal Bldg) SD-I,Block-G <br>Barkat-e-Hyderi North
                            Nazimabad,Karachi</strong></p>
                </div>
            </center>
            <hr>
            <h3 align="center">Sale's Report Receipt</h3>
            <br />

            <p align="left" ng-model="mdate">Date: {{mdate}} </p>

            <hr />
            <br />
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Receipt Id</th>
                        <th>Qty.</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th>Total Price</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='s in sale'>
                        <td>{{s._id}}</td>
                        <td>{{s.totalQty}}</td>
                        <td>{{s.time}}</td>
                        <td>{{s.date}}</td>
                        <td>Rs {{s.totalPrice}}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td></td>

                        <td ng-model="totalit">Total Items: {{totalit}}</td>
                        <td></td>
                        <td></td>

                        <td></td>
                    </tr>
                    <tr>
                        <td></td>

                        <td></td>
                        <td></td>

                        <td></td>
                        <td ng-model="myProfit">Gross Profit: Rs {{myProfit}}</td>
                    </tr>
                    <tr>
                        <td></td>

                        <td></td>
                        <td></td>

                        <td></td>
                        <td ng-model="mysale">Total Sale: Rs {{mysale}}</td>
                    </tr>





                </tbody>
            </table>
            </br>
            <hr />

            <p align="center">**************** Monthly Report ****************</p>

        </div>
        <a href="javascript:window.print() " class="btn btn-lg btn-success">Print</a>
    </div>
</div>

